*
{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: azure;
    scroll-behavior: smooth;
}
body
{
  /*  background-color: #406882;*/
  background-color: black;
    position: relative;


}

.count
{
    position: absolute;
    top: 0;
    transform: translateY(-15px);
    background-image:url(/smth/plantebg.jpg) ;
    background-position: center;
    background-size:cover;   
    width: 100%;
    height: 100vh;
}
.comingHome
{
    margin: 15px;
}
.comingHome a
{
    font-size: 20px;
    text-decoration: none;
}
.planet
{  
   position: relative;
   background: rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 20px 9px #24a7ff1f;
   margin-top:15px ;
   margin: 10% auto;
   width: 90%;
   height: fit-content;
   padding: 20px;
   display: flex;
   border-radius: 15px;
   /*visibility: hidden;*/
}
.bio
{
    margin-left: 15px;

}
.bio p{
    font-size: 22px;
    margin-bottom:20px;
    padding-top: 12px;
}
button
{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 12px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 80px;
    border-style:none ;
    cursor: pointer;
    animation: gtAtnshn 1s linear 1s infinite alternate;
}
button a
{
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}

@keyframes gtAtnshn {
   from {
    background-color: rgba(0, 0, 0, .2);
   }
   to {
    background-color: rgba(0, 0, 0, .8);
   }
    
}

.countinDepth
{
    transform: translate(0,50em);
}
#inDepth
{
    
    margin: 15px;
}
#inDepth p
{
    line-height: 1.6em;
    font-size: 20px;
   /* color: #1A374D;*/
}
.somethingFocus
{
    font-size: 20px;
    padding: 4em;
}
#inDepth section
{
    position: relative;
    margin: 15px;
    padding: 15px;
    float: left;
   
}
#inDepth h1
{
  
    font-family: 'Fira Sans', sans-serif;
    font-size:2em;
    margin-bottom: 20px;
   /* color: #1A374D;*/
}

#inDepth img
{
    margin: 15px;
    margin-left: 80px;
}


.intro
{
    padding: 15px;
    float: right;
    transition: 1s;   
}


.moons
{
    text-align: justify;
}

.moons img
{
    margin: 15px;
    float: left;
}

.Size-and-Distance img
{
    float: left;
    margin: 15px;
}
.somethingFocus::after
{
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
.somethingFocus::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
     top: 3em;
    right: 3em; 
    z-index: -5; 
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
.active
{
    box-shadow: 0 0 20px 9px #24a7ff1f;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
section.active  .somethingFocus::before  {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}
section.active   .somethingFocus::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

 
        
#toTop{
    margin: 15px;
    padding: 0;
    background:transparent;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgb(202, 164, 164);
    position: fixed;
    z-index: 4;
    display:none;
   
    transition: ease 0.5s all
}

.fas
{
  
    font-size: 80px;
    color: rgb(253, 250, 250)
}