*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}
body
{
    position: relative;
    background-image: url(./39607.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: repeat;
    max-width: 100%;
}
header
{
    text-align: center;
}
h1
{
    background: url(./logoMask.jpg);
    background-position: center;
    background-size:cover;
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;  
    transform: translatey(30px);     
}

header img{
    transform: translate(149px,-71px);
}

.astru1
{
    position: absolute;
    top:120px;
    margin-left: 15px;
    z-index: -1;
    animation: floating 5s linear 1s infinite alternate ;
}
.astru2
{
    position: absolute;
    bottom:100px;
    right:15px;
    z-index: -1;
    animation: floating1 5s linear 1s infinite alternate;
}
.content
{
    background-color: rgba(0, 0, 0, .4);
    width: 80%;
    height: auto;
    margin: 0% auto ;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    justify-content: space-evenly;
    
}

.planet
{
    width:25%;
    margin: 15px;
}

.planet img
{
    width: 250px;
}

.planet img:hover
{
    transform: scale(1.18);
}
h3{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    transform: translateX(-2.5%);
}

@keyframes floating {
    from
    {
       transform: translate(0%,2%);
        
    }
    to {
        transform: translate(50%,80%);
    } 
}
@keyframes floating1{  
    from
    {
        transform: translate(0,0);
    }
    to 
    {
        transform: translate(-30%,-50%);
    }
}

@media only screen and (max-width:800px)
{
    .planet img
{
    width: 190px;
}
h3 {
    font-size: 19px;
    transform: translatex(17px);
}
}

@media only screen and (max-width:500px)
{
    .planet img
    {
        width: 100px;
    }
h3 {
    font-size: 15px;
    transform: translatex(20px);
}
}